@font-face {
    font-family: 'Lato', sans-serif;;
    src: url(../fonts/Lato-Regular.ttf);
    font-weight: 400;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'Lato', sans-serif;;
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: 700;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'Lato', sans-serif;;
    src: url(../fonts/Lato-Heavy.ttf);
    font-weight: 800;
    font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'Lato', sans-serif;;
    src: url(../fonts/Lato-Black.ttf);
    font-weight: 900;
    font-style: normal;
	font-display: swap;
}