//colors
$red :  #CD2C31;
$main: #F3F1EE;
$bg: #FAF8F5;
$gradient : linear-gradient(148.21deg, #FBB908 -19.55%, #EB4D23 116.18%), #C4C4C4;



//font
$font:'Lato', sans-serif;
$fontColor: #222222;
$fontSize: 16px;
$reg: 400;
$bold: 700;
$heavy: 800;
$black: 900;
    
