@import "../../assets/scss/variables.scss";
.food-page {
    &__wrapper {
        padding: 70px 0;
    }
    &__main {
        display: flex;
        gap: 30px;
        .cart__wrapper {
            padding-top: 30px;
        }
    }
}

@media(max-width:1440px) {
    .food-page {
      &__main {
        flex-direction: column;
      }
    }
}
