.cartIcon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #FAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        width: 36px;
        height: 36px;
    }
}