@import "../../assets/scss/variables.scss";


.subcatalog{
    margin-bottom: 50px;
    &__title{
        font-size: 2.2rem;
        font-weight: $black;
    }
}

.food__cards{
    max-width: 927px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
}

@media(max-width: 1440px) {
    .food__cards {
        gap: 20px;
    }
}
@media(max-width: 1024px) {
    .food__cards {
        gap: 15px;
    }
}
@media(max-width: 500px) {
    .food__cards {
        gap: 10px;
    }
}