@import "../../assets/scss/variables.scss";

.profile-points {
    width: 100%;
    height: 100%;
    display: flex;
    background: #fff;
    border-radius: 10px;
    padding: 70px;
     svg {
        margin-left: 25px;
        margin-right: 126px;
     }
    &__content {
        display: flex;
        flex-direction: column;    
    }
    &__title {
        max-width: 620px;
        font-size: 54px;
        font-weight: $black;
    }
    &__referral{
        display: flex;
        position: relative;
        max-width: 860px;
    }
    &__link {
        font-size: 24px;
        padding: 23px;
        max-width: 658px;
        width: 100%;
        border-radius: 10px 0 0 10px;
        border: 1px solid #CBC9C6;
        font-weight: $bold;
    }
    &__copy-btn {
        
        padding: 0 30px;
        &__wrapper{
            max-width: 240px;
            position: absolute;
            right: -30%;
            height: 100%;
            .btn {
                width: 202px;
                height: 100%;
            }
        }
    }
}

@media(max-width: 1440px) {
    .profile-points {
        &__link {
            font-size: 18px
        }
        &__title{
            font-size: 48px;
        }
        
        &__copy-btn {

            &__wrapper{
                
                right: -10%;
                max-width: 650px;
                .btn {
                    height: 100%;
                    width: 100%;
                    
                }
            }
        }
    }
}
@media(max-width:1231px) {
    .profile-points {
        &__referral {
            flex-direction: column;
            gap: 10px;
        }
        &__copy-btn {
            
            .btn{
                height: 100%;
            }
            &__wrapper{
                position: static;
                
                height: 80px;
            }
        }
    }
}
@media(max-width:1000px) {
    .profile-points {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
        svg{
            margin: 0;
            margin-bottom: 30px;
        }
        
    }
}

@media(max-width: 500px) {
    .profile-points {
        padding: 10px;
        &__title{
            font-size: 32px;
        }
        &__link {
            font-size: 13px;
        }
    }
}
@media(max-width: 500px) {
    .profile-points {
        &__link {
            font-size: 11px;
        }
    }
}